
/* messages.css */
.message-box {
  margin-bottom: 40px;
}

.customer-messages {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  max-height: 200px;
  overflow-y: auto;
}

.message {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.message:last-child {
  border-bottom: none;
}




